//глобальные переменные
$mainFont: 'Manrope', sans-serif;
$secondaryFont: 'Playfair Display', serif;
$navFontColor: #555;

//переменные для кнопок
$btnMainFont: 'Manrope', sans-serif;
$btnTextLight: #FFF;
$btnTextDark: #141414;


//шаблоны заголовка
%title_sm-top {
    color: #5C8692;
    font-family: $mainFont;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
}

%title_h2 {
    color: #141414;
    font-family: $secondaryFont;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.45px;
}

%title__sm-down {
    color: #555;
    font-family: $mainFont;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165%;
    padding-top: 1%;
}