* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.follow-title .title__small-up_uppercase, .opinion__title .title__small-up_uppercase, .values-title .title__small-up_uppercase {
  color: #5C8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
}

.follow-title .title__h2, .opinion__title .title__h2, .values-title .title__h2 {
  color: #141414;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}

.follow-title .title__small-down {
  color: #555;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165%;
  padding-top: 1%;
}

body {
  margin: 0 auto;
  width: 100%;
}

.values {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 600px;
  max-width: 1200px;
  padding: 100px 0px 50px;
  background-color: #FFF;
  margin: 0 auto;
}
@media (max-width: 480px) {
  .values {
    min-width: auto;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .values {
    min-width: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .values {
    min-width: auto;
  }
}
@media (min-width: 992px) and (max-width: 1449px) {
  .values {
    min-width: auto;
  }
}
@media (min-width: 1450px) and (max-width: 1920px) {
  .values {
    min-width: auto;
  }
}

.values-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 45px;
}
.values-title .title__small-up_uppercase {
  text-transform: uppercase;
}
.values-title .title__h2 {
  max-width: 659px;
}
@media (max-width: 480px) {
  .values-title .title__h2 {
    max-width: none;
    text-align: center;
    max-width: 330px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .values-title .title__h2 {
    max-width: none;
    text-align: center;
    max-width: 344px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .values-title .title__h2 {
    max-width: none;
    text-align: center;
    max-width: 365px;
  }
}

.value-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 620px;
}
@media (max-width: 480px) {
  .value-list {
    max-width: none;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .value-list {
    max-width: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .value-list {
    max-width: none;
  }
}
.value-list .value__card {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}
@media (max-width: 480px) {
  .value-list .value__card {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .value-list .value__card {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .value-list .value__card {
    align-items: center;
    flex-direction: column;
    min-width: auto;
  }
}
.value-list .value__card .value__img {
  max-width: 100%;
}

.card-margin-bottom {
  margin-bottom: 36px;
}
@media (max-width: 480px) {
  .card-margin-bottom {
    margin-bottom: 0px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .card-margin-bottom {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-margin-bottom {
    margin-bottom: 26px;
  }
}

.card-margin-bottom-top {
  margin-bottom: 36px;
  margin-top: 36px;
}
@media (max-width: 480px) {
  .card-margin-bottom-top {
    margin-bottom: 0px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .card-margin-bottom-top {
    margin-bottom: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-margin-bottom-top {
    margin-bottom: 26px;
    margin-top: 26px;
  }
}

.card-margin-top {
  margin-top: 36px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .card-margin-top {
    margin-bottom: 26px;
    margin-top: 26px;
  }
}

.value__text-block .value__text-title {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .value__text-block .value__text-title {
    text-align: center;
  }
}
.value__text-block .value__text {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  max-width: 458px;
}
@media (max-width: 480px) {
  .value__text-block .value__text {
    max-width: 280px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .value__text-block .value__text {
    max-width: 400px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .value__text-block .value__text {
    max-width: 531px;
    text-align: justify;
    text-align: center;
  }
}

.team .container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 33px 45px;
  margin: 0px auto;
  max-width: 729px;
  padding: 50px 0px;
}
@media (max-width: 480px) {
  .team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .team .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: none;
  }
}
@media (min-width: 992px) and (max-width: 1449px) {
  .team .container {
    grid-gap: 33px 8px;
  }
}

.block-title {
  display: grid;
  grid-column: 1/4;
  justify-content: center;
}
.block-title .block-title__h2 {
  color: #5C8692;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.block-title .block-title__h1 {
  color: #141414;
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
  padding-top: 9px;
}
@media (max-width: 480px) {
  .block-title .block-title__h1 {
    min-width: 304px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .block-title .block-title__h1 {
    min-width: 304px;
  }
}

.team .card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 480px) {
  .team .card {
    min-width: 319px;
  }
}
@media (min-width: 1450px) and (max-width: 1920px) {
  .team .card {
    width: 350px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .team .card-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .team .card-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 992px) and (max-width: 1449px) {
  .team .card-image {
    width: 312px;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (min-width: 1450px) and (max-width: 1920px) {
  .team .card-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.team__card .card-info {
  padding: 25px 20px 0px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 768px) and (max-width: 991px) {
  .team__card .card-info {
    height: auto;
  }
}
.team__card .card-info .card-info__name {
  color: #141414;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0;
}
.team__card .card-info .card-info__position {
  color: #5C8692;
  padding-top: 4px;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.team__card .card-info .card-info__description {
  color: #555;
  padding-top: 8px;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 0;
}
.team__card .card-info .carf-info__icons {
  display: flex;
  align-items: center;
  padding-top: 23px;
  gap: 30px;
}

.opinion {
  background-color: #EDF5F7;
}
.opinion .opinion__block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
}

.opinion__title {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}
.opinion__title .title__small-up_uppercase {
  text-transform: uppercase;
}
.opinion__title .title__h2 {
  max-width: 552px;
}
@media (max-width: 480px) {
  .opinion__title .title__h2 {
    text-align: center;
    min-width: 356px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .opinion__title .title__h2 {
    text-align: center;
    min-width: 356px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .opinion__title .title__h2 {
    text-align: center;
    max-width: none;
  }
}

.opinion__card-list {
  display: flex;
  justify-content: center;
  gap: 35px;
}
@media (max-width: 480px) {
  .opinion__card-list {
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .opinion__card-list {
    flex-direction: column;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .opinion__card-list {
    flex-direction: column;
  }
}
.opinion__card-list .opinion__card {
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .opinion__card-list .opinion__card {
    flex-direction: column;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .opinion__card-list .opinion__card {
    flex-direction: column;
  }
}
@media (min-width: 1450px) and (max-width: 1920px) {
  .opinion__card-list .opinion__card {
    min-width: 582px;
  }
}

.opinion__light-box {
  background: rgb(255, 255, 255);
  padding: 44px 44px 44px 49px;
  max-height: 224px;
  max-width: 578px;
}
@media (max-width: 480px) {
  .opinion__light-box {
    max-height: unset;
    padding: 35px 25px 35px 25px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .opinion__light-box {
    padding: 35px 25px 35px 25px;
    max-height: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .opinion__light-box {
    max-width: 647.5px;
    max-height: none;
    display: flex;
    align-items: center;
  }
}
@media (min-width: 992px) and (max-width: 1449px) {
  .opinion__light-box {
    max-height: none;
  }
}
.opinion__light-box .opinion__content {
  max-width: 528px;
  font-family: "Manrope", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
@media (min-width: 768px) and (max-width: 991px) {
  .opinion__light-box .opinion__content {
    max-width: none;
  }
}

.opinion__dark-box {
  background-color: rgb(30, 44, 48);
  max-width: 578px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .opinion__dark-box {
    max-width: none;
  }
}
.opinion__dark-box .dark-box__content {
  max-width: 564px;
  max-height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 51px;
  padding-right: 51px;
}
@media (max-width: 480px) {
  .opinion__dark-box .dark-box__content {
    flex-direction: column-reverse;
    align-items: flex-end;
    max-height: -moz-max-content;
    max-height: max-content;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .opinion__dark-box .dark-box__content {
    flex-direction: column-reverse;
    align-items: flex-end;
    max-height: -moz-max-content;
    max-height: max-content;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 35px;
    padding-right: 35px;
    max-height: none;
    align-items: stretch;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .opinion__dark-box .dark-box__content {
    margin-top: 40px;
    margin-bottom: 40px;
    max-width: none;
  }
}
@media (min-width: 992px) and (max-width: 1449px) {
  .opinion__dark-box .dark-box__content {
    max-height: none;
    gap: 24px;
  }
}

.opinion__customer-info {
  display: flex;
  max-width: 232px;
  gap: 38px;
}
@media (max-width: 480px) {
  .opinion__customer-info {
    flex-direction: row;
    align-items: none;
    justify-content: flex-start;
    align-items: center;
    max-width: none;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .opinion__customer-info {
    flex-direction: row;
    align-items: none;
    justify-content: flex-start;
    align-items: center;
    max-width: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .opinion__customer-info {
    gap: 44px;
  }
}
@media (min-width: 992px) and (max-width: 1449px) {
  .opinion__customer-info {
    max-width: none;
    gap: 25px;
  }
}

.customer-info__photo {
  max-height: 100%;
}
@media (max-width: 480px) {
  .customer-info__photo {
    height: auto;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .customer-info__photo {
    height: auto;
  }
}
.customer-info__photo .customer-pic {
  height: 100%;
}
@media (max-width: 480px) {
  .customer-info__photo .customer-pic {
    height: auto;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .customer-info__photo .customer-pic {
    height: auto;
  }
}

.customer-info__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  min-width: 138px;
  justify-content: space-evenly;
}
@media (max-width: 480px) {
  .customer-info__text {
    align-items: flex-end;
    text-align: end;
    min-width: 194px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .customer-info__text {
    min-width: auto;
  }
}
.customer-info__text .customer-name {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 32px */
  letter-spacing: -0.2px;
}
.customer-info__text .customer-city {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 22.4px */
  letter-spacing: 0.42px;
}

.estimate__pic {
  height: 40px;
}
@media (min-width: 992px) and (max-width: 1449px) {
  .estimate__pic {
    height: 21px;
  }
}
@media (max-width: 480px) {
  .estimate__pic {
    height: 21px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .estimate__pic {
    height: auto;
  }
}

@media (min-width: 992px) and (max-width: 1449px) {
  .customer-quote {
    display: flex;
    align-self: flex-start;
  }
}
@media (max-width: 480px) {
  .customer-quote {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .customer-quote {
    display: none;
  }
}

.follow {
  background-color: #FFF;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0px;
  margin: 0 auto;
}

.follow__gallery {
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  min-height: 280px;
  max-width: 1200px;
  width: 100%;
  row-gap: 45px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  grid-template-areas: "title pic2" "pic1 pic3";
}
@media (max-width: 480px) {
  .follow__gallery {
    grid-template-columns: auto;
    grid-template-rows: 352px 1fr 1fr 1fr;
    grid-template-areas: "title" "pic1" "pic2" "pic3";
    row-gap: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .follow__gallery {
    grid-template-columns: auto;
    grid-template-rows: 384px 1fr 1fr 1fr;
    grid-template-areas: "title" "pic1" "pic2" "pic3";
    row-gap: 30px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .follow__gallery {
    grid-template-columns: 1fr 50%;
    grid-auto-rows: minmax 200px, auto;
    grid-template-areas: "title pic1" "pic2 pic2" "pic3 pic3";
    row-gap: 20px;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (min-width: 992px) and (max-width: 1449px) {
  .follow__gallery {
    min-width: auto;
  }
}

.follow__pic-box {
  max-height: auto;
  width: 100%;
}
@media (max-width: 480px) {
  .follow__pic-box {
    max-width: 380px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .follow__pic-box {
    max-width: 571px;
  }
}

.follow__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pic-box1 {
  grid-area: pic1;
  margin-top: -85px;
}
@media (max-width: 480px) {
  .pic-box1 {
    margin-top: 0px;
    min-width: 250px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .pic-box1 {
    margin-top: 0px;
    min-width: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .pic-box1 {
    margin-top: 0px;
  }
}

.pic-box2 {
  grid-area: pic2;
}

.pic-box3 {
  grid-area: pic3;
}

.follow-title {
  grid-area: title;
  max-height: 293px;
  width: auto;
}
@media (max-width: 480px) {
  .follow-title {
    max-height: none;
    text-align: center;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .follow-title {
    max-height: none;
    text-align: center;
    max-width: 409px;
    max-height: 355px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .follow-title {
    max-height: none;
  }
}
.follow-title .title__small-up_uppercase {
  text-transform: uppercase;
}
.follow-title .title__h2 {
  max-width: 264px;
}
@media (max-width: 480px) {
  .follow-title .title__h2 {
    max-width: none;
    min-width: none;
    margin-bottom: 22px;
    margin-top: 9px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .follow-title .title__h2 {
    max-width: none;
    max-width: 463px;
    margin-bottom: 22px;
    margin-top: 9px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .follow-title .title__h2 {
    font-size: 55px;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 463px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .follow-title .title__small-down {
    max-width: 432px;
  }
}

.follow__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
@media (max-width: 480px) {
  .follow__btn {
    margin-top: 0px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .follow__btn {
    margin-top: 0px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .follow__btn {
    margin-top: 41px;
  }
}
.follow__btn .btn_green_uppercase {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 1.68px;
  background-color: #5C8692;
  padding: 23px 72px 24px 72px;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  border: none;
  color: #FFF;
  text-transform: uppercase;
}
@media (max-width: 480px) {
  .follow__btn .btn_green_uppercase {
    min-width: -moz-max-content;
    min-width: max-content;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .follow__btn .btn_green_uppercase {
    margin-top: 40px;
  }
}/*# sourceMappingURL=about.css.map */