@charset "UTF-8";
@import url(template_top-line.css);
@import url(template_header.css);
@import url(template_footer.css);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.contact-card__info .contact-card__h3 {
  color: #5C8692;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  line-height: 154.5%;
  letter-spacing: 1.5px;
}

.contact-card__info .contact-card__h1 {
  color: #141414;
  font-family: "Playfair Display", serif;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -0.45px;
}

/*основная часть - карточка с фото*/
.contact-main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 120px 360px;
  max-width: 1920px;
  gap: 120px;
  align-items: center;
  justify-content: space-around;
  background-color: #FFF;
}
@media screen and (min-width: 1449px) {
  .contact-main #main_photo_adaptive {
    display: none;
  }
}
@media screen and (min-width: 992px) and (max-width: 1449px) {
  .contact-main {
    max-width: 1400px;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 128px;
    padding-bottom: 108px;
    align-items: center;
  }
  .contact-main .contact-card {
    display: flex;
    align-items: center;
    gap: 60px;
  }
  .contact-main .contact-card #main_photo {
    float: left;
    height: 400px;
    width: auto;
  }
  .contact-main .contact-card #main_photo_adaptive {
    display: none;
  }
  .contact-main .contact-card #main_photo_exclude {
    float: right;
    height: 400px;
    width: auto;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .contact-main {
    padding-left: 115px;
    padding-right: 150px;
    padding-top: 100px;
    padding-bottom: 90px;
    align-items: center;
  }
  .contact-main .contact-card {
    display: flex;
    align-items: center;
    gap: 60px;
    /*иконки с контактами*/
  }
  .contact-main .contact-card #main_photo {
    float: left;
    height: 300px;
    width: auto;
  }
  .contact-main .contact-card #main_photo_adaptive {
    display: none;
  }
  .contact-main .contact-card #main_photo_exclude {
    float: right;
    height: 300px;
    width: auto;
  }
  .contact-main .contact-card .contact-card__info {
    display: flex;
    width: auto;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
  }
  .contact-main .contact-card .contact-card__info .contact-card__h3 {
    color: #5C8692;
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
  }
  .contact-main .contact-card .contact-card__info .contact-card__h1 {
    color: #141414;
    font-family: "Playfair Display", serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.45px;
  }
  .contact-main .contact-card .contact-card__contacts .contact_text {
    color: #141414;
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: 0.96px;
    text-transform: uppercase;
  }
  .contact-main .contact-card .contact-card__contacts .contact_title {
    color: #141414;
    font-family: "Playfair Display", serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    gap: 5px;
  }
  .contact-main .contact-card .contact-card__contacts .icon {
    height: 55px;
    width: 55px;
    padding: 0px 15px 0px 0px;
  }
  .contact-main .contact-card .contact-card__contacts .contact-card__container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .contact-main .contact-card .btn_green-secondary_uppercase {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.68px;
    background-color: #7A9CA5;
    padding: 13px 26px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: "Manrope", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    gap: 5px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact-main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 80px;
    align-items: center;
  }
  .contact-main .contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contact-main .contact-card #main_photo {
    float: inline-start;
    height: 350px;
    width: auto;
  }
  .contact-main .contact-card #main_photo_exclude {
    display: none;
  }
  .contact-main .contact-card .contact-card__info {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-left: 60px;
    padding-right: 60px;
  }
  .contact-main .contact-card .contact-card__contacts .contact_text {
    font-size: 1.5vh;
  }
  .contact-main .contact-card .contact-card__contacts .contact_title {
    font-size: 3vh;
  }
  .contact-main .contact-card .contact-card__contacts .icon {
    height: 65px;
    width: 65px;
    padding: 0px 20px 0px 0px;
  }
}
@media screen and (max-width: 480px) {
  .contact-main {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 40px 80px;
    align-items: center;
  }
  .contact-main .contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
  .contact-main .contact-card #main_photo {
    float: inline-start;
    height: 350px;
    width: auto;
  }
  .contact-main .contact-card #main_photo_exclude {
    display: none;
  }
  .contact-main .contact-card .contact-card__info {
    display: flex;
    flex-direction: column;
    max-width: 80%;
    padding-left: 60px;
    padding-right: 60px;
  }
  .contact-main .contact-card .contact-card__contacts .contact_text {
    font-size: 1.5vh;
  }
  .contact-main .contact-card .contact-card__contacts .contact_title {
    font-size: 3vh;
  }
  .contact-main .contact-card .contact-card__contacts .icon {
    height: 65px;
    width: 65px;
    padding: 0px 20px 0px 0px;
  }
}
.contact-main .contact-card {
  display: flex;
  align-items: center;
  gap: 129px;
}
@media screen and (max-width: 480px) {
  .contact-main .contact-card {
    gap: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .contact-main .contact-card {
    gap: 10px;
  }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
  .contact-main .contact-card {
    gap: 60px;
  }
}
.contact-main #main_photo {
  float: left;
  width: 646px;
  height: 681px;
}
.contact-main #main_photo_adaptive {
  float: inline-start;
  height: 350px;
  width: auto;
}
.contact-main #main_photo_exclude {
  float: right;
  width: 646px;
  height: 681px;
}

/*основной текст карточки*/
.contact-card__info {
  display: flex;
  width: 425px;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
  flex-shrink: 0;
}
.contact-card__info .contact-card__h3 {
  text-transform: uppercase;
  padding-bottom: 9px;
}
.contact-card__info .contact-card__h1 {
  max-width: 435px;
}

/*иконки с контактами*/
.contact-card__contacts .contact_text {
  color: #141414;
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0.96px;
  text-transform: uppercase;
}
.contact-card__contacts .contact_title {
  color: #141414;
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  gap: 25px;
}
.contact-card__contacts .icon {
  height: 75px;
  width: 75px;
  padding: 0px 27px 0px 0px;
}
.contact-card__contacts .contact-card__container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn_green-secondary_uppercase {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 125%;
  letter-spacing: 1.68px;
  background-color: #7A9CA5;
  padding: 23px 36px;
  font-family: "Manrope", sans-serif;
  cursor: pointer;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: 125%;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  gap: 10px;
}
@media screen and (max-width: 480px) {
  .btn_green-secondary_uppercase {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.68px;
    background-color: #7A9CA5;
    padding: 13px 26px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    border: none;
    display: flex;
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    gap: 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .btn_green-secondary_uppercase {
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.68px;
    background-color: #7A9CA5;
    padding: 13px 26px;
    font-family: "Manrope", sans-serif;
    cursor: pointer;
    border: none;
    display: flex;
    font-size: 2vh;
    font-style: normal;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    gap: 10px;
  }
}

/*футер*/
.footer {
  display: flex;
  justify-content: center;
  max-height: 635px;
  background-color: #1E2C30;
  color: #FFFFFF;
  padding-top: 66px;
}
@media (max-width: 480px) {
  .footer {
    padding-top: 11px;
    max-height: 2500px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .footer {
    padding-top: 16px;
    max-height: 2500px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer {
    padding-top: 16px;
    max-height: 2500px;
  }
}

.footer__container {
  max-width: 1200px;
}

.container__logo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 52px;
}
@media (max-width: 480px) {
  .container__logo {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .container__logo {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container__logo {
    flex-direction: column;
    padding-bottom: 20px;
  }
}

.footer__logo {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 2%;
}
@media (max-width: 480px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__logo {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .footer__icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .footer__icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .footer__icons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
}

hr {
  max-width: 1200px;
  border-width: 1px;
}

.container__menu {
  display: flex;
  gap: 129px;
  padding-top: 52px;
  max-width: 1200px;
}
@media (max-width: 480px) {
  .container__menu {
    flex-direction: column;
    padding-top: 20px;
    gap: 50px;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .container__menu {
    flex-direction: column;
    padding-top: 20px;
    gap: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .container__menu {
    flex-direction: column;
    gap: 50px;
  }
}
@media (min-width: 992px) and (max-width: 1449px) {
  .container__menu {
    gap: 95px;
    margin-bottom: 60px;
  }
}

.explore,
.utility {
  display: flex;
  flex-direction: column;
}
@media (max-width: 480px) {
  .explore,
  .utility {
    display: none;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  .explore,
  .utility {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .explore,
  .utility {
    display: none;
  }
}

.explore__title,
.utility__title,
.shedule__title,
.contacts__title {
  font-family: "Playfair Display", serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 30.8px;
  letter-spacing: 0%;
}

.footer a {
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -1%;
  text-decoration: none;
  color: #FFFFFF;
}

.contacts__subtitle {
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 25.5px;
  letter-spacing: -1%;
}

.contacts__data {
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 25.5px;
  letter-spacing: -1%;
}

.shedule {
  font-family: "Manrope", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -1%;
}

.contacts__container {
  display: flex;
  gap: 29px;
}

.copyright {
  max-height: 75px;
  text-align: center;
  background-color: #111E22;
  font-family: "Manrope", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -1%;
  color: #FFFFFF;
}/*# sourceMappingURL=locations.css.map */