@import '_variables';
@import '_mixins';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.team-main__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 33px 45px;
    margin: 0px auto;
    max-width: 1920px;
    padding-top: 129px;
    padding-bottom: 151px;
}

.team-main .block-title {
    display: grid;
    grid-column: 1/4;
    justify-content: center;
}

.team-main__container>a {
    text-decoration: none;
}

.block-title__h2 {
    color: #5C8692;
    text-align: center;
    @include text-styles ($mainFont, 15px, 600, 154.5%, 1.5px);
    text-transform: uppercase;
}

.block-title__h1 {
    color: #141414;
    text-align: center;
    @include text-styles ($secondaryFont, 45px, 700, 130%, -0.45px);
    padding-top: 9px;
}

.team-main__card.card {
    display: flex;
    flex-direction: column;
}

.card-image {
    max-width: 100%;
}

.team-main__card .card-info {
    padding: 25px 20px 0px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-info__icons>a {
    text-decoration: none;
}

.card-info__name {
    color: #141414;
    @include text-styles ($secondaryFont, 24px, 700, 120%, 0);
}

.card-info__position {
    color: #5C8692;
    padding-top: 4px;
    @include text-styles ($mainFont, 15px, 600, 154.5%, 1.5px);
    text-transform: uppercase;
}

.card-info__description {
    color: #555;
    padding-top: 8px;
    text-align: center;
    @include text-styles ($mainFont, 18px, 400, 160%, 0);
}

.card-info__icons {
    display: flex;
    align-items: center;
    padding-top: 23px;
    gap: 30px;
}

@media (max-width: 480px) {
    .team-main__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (min-width:481px) and (max-width: 991px) {
    .team-main__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .team-main .block-title {
        display: grid;
        grid-column: 1/3;
    }
}